*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER */
header {
  height: 100px;
}

/* MAIN */
.Content {
  background-color: black;
  min-height: 100px;
}

.Menu {
  background-color: #0282F9;
  min-height: 130px;
}

/* FOOTER */
.MainFooter {
min-height: 270px;
background-color: black;
}

.SecondaryFooter {
  height: 80px;
}